<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1 id='hometitle'>Site Index</h1>
        <ul>
           <a href=''><li>Mine Block</li></a>
           <a href=''><li>Track new transactions</li></a>
           <a href=''><li>Track new blocks</li></a>
        </ul>
    </body>
</html>