<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1 id='hometitle'>Site Index</h1>
        <ul>
           <a href='/miner'><li>Mine Block</li></a>
         </ul>
    </body>
</html>